{% extends 'base.html.twig' %}

{% block title %}New Diagnostic{% endblock %}

{% block body %}
    <h1>Create new Diagnostic</h1>

    {{ include('diagnostic/_form.html.twig') }}

    <a href="{{ path('app_diagnostic_index') }}">back to list</a>
{% endblock %}
