<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rating System</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
{{ include('blog/post_show.html.twig') }}
    <div align="center" style="background: #000; padding: 50px;color:white;">
        <i class="fa fa-star fa-2x" data-index="0"></i>
        <i class="fa fa-star fa-2x" data-index="1"></i>
        <i class="fa fa-star fa-2x" data-index="2"></i>
        <i class="fa fa-star fa-2x" data-index="3"></i>
        <i class="fa fa-star fa-2x" data-index="4"></i>
        <br><br>
        <?php echo round($avg,2) ?>
    </div>

    <script src="http://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script>
var ratedIndex = -1, uID = 0;
$(document).ready(function () {
    resetStarColors();

    if (localStorage.getItem('ratedIndex') != null) {
        setStars(parseInt(localStorage.getItem('ratedIndex')));
        uID = localStorage.getItem('uID');
    }

    $('.fa-star').on('click', function () {
        ratedIndex = parseInt($(this).data('index')) + 1;
        localStorage.setItem('ratedIndex', ratedIndex);
        saveToTheDB();
        showAverage();
    });

    $('.fa-star').mouseover(function () {
        resetStarColors();
        var currentIndex = parseInt($(this).data('index')) + 1;
        setStars(currentIndex);
    });

    $('.fa-star').mouseleave(function () {
        resetStarColors();

        if (ratedIndex != -1)
            setStars(ratedIndex);
    });

    showAverage();
});

function saveToTheDB() {
    $.ajax({
        url: "rating",
        method: "POST",
        dataType: 'json',
        data: {
            save: 1,
            uID: uID,
            ratedIndex: ratedIndex
        },
        success: function (r) {
            uID = r.id;
            localStorage.setItem('uID', uID);
        }
    });
}

function setStars(max) {
    for (var i = 0; i <= max - 1; i++)
        $('.fa-star:eq(' + i + ')').css('color', 'green');
}

function resetStarColors() {
    $('.fa-star').css('color', 'white');
}

function showAverage() {
    $.ajax({
        url: "rating",
        method: "GET",
        dataType: 'json',
        data: {
            get_avg: 1
        },
        success: function (r) {
            var avg = parseInt(r.avg);
            if(avg > 0) {
              $('#average').text(avg);
              setStars(avg);
            }
        }
    });
}


</script>
</body>
</html>
