<form method="post" action="{{ path('app_diagnostic_delete', {'id': diagnostic.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="btn">Delete</button>
</form>
