{% extends 'base.html.twig' %}

{% block title %}Diagnostics{% endblock %}
{% block doctors %} active {% endblock %}
{% block body %}
    <div class="page-banner overlay-dark bg-image" style="background-image: url(../assets/img/bg_image_1.jpg);">
        <div class="banner-section">
            <div class="container text-center wow fadeInUp">
                <nav aria-label="Breadcrumb">
                    <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Diagnostic</li>
                    </ol>
                </nav>
                <h1 class="font-weight-normal">diagnostics</h1>
            </div> <!-- .container -->
        </div> <!-- .banner-section -->
    </div> <!-- .page-banner -->

    <div class="page-section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div id="calendar-holder"></div>
                </div>
            </div>
        </div> <!-- .container -->
    </div> <!-- .page-section -->
    <style>
        #welcome-step,#patient-step,#symptom-step,#disease-step {
            border: 4px solid #ccc;
            border-radius: 20px;
            padding: 20px;
            margin: 10px;
        }
        .symptoms-container {
            display: flex;
        }

        .symptoms-buttons {
            display: flex;
            align-items: flex-start;
            margin-right: 20px;
            display: inline-block;
            width: 90%;
            padding: 6px 12px;
            background-color: #E1EBE8;
            color: #6E807A;
            border-radius: 4px;
            transition: all .2s ease;
        }

        .symptom-button {
            margin-bottom: 10px;
        }

        .selected-symptoms {
            display: flex;
            flex-wrap: wrap;
        }

        .selected-symptom {
            background-color: #0c5f96;
            color: #fff;
            padding: 0.5rem;
            border-radius: 1rem;
            font-size: 1rem;
            margin: 5px;
            display: inline-block;

        }


    </style>
    <div class="page-section">
        <div class="container">
            <h1 class="text-center wow fadeInUp">diagnose</h1>
            <p class="text-center wow fadeInUp">it only takes 3 minutes <i class="wi wi-time-1"></i></p>

            <form class="main-form">
                <div id="welcome-step" class="row mt-5 ">
                    <p>Before using this symptom checker, please read carefully and accept our Terms and Services:</p>
                    <ul>
                        <li>
                            This checkup is not a diagnosis.
                        </li>
                        <li>
                            This checkup is for informational purposes and is not a qualified medical opinion.
                        </li>
                    </ul>
                    <label>
                        <input type="checkbox" id="agree-checkbox" class="agree-checkbox">
                        I agree to the aphrodite terms and conditions
                    </label>
                    <hr>
                    <button type="button" id="next-btn-1" class="next-btn-1 btn btn-primary">Next</button>
                </div>
                <div id="patient-step" style="display: none;" class="row mt-5 ">
                    <table>
                        <tr>
                            <td width="200px">
                                <div>
                                    <label for="age-range">Age:</label>
                                    <span id="range-value"></span>
                                    <input type="range" id="age-range" min="15" max="50"class="age-range">

                                </div>
                            </td>
                            <td width="200px">
                                <div>
                                    <label>For whom is this test?</label>
                                    <div>
                                        <div class="col-sm-6 py-2 ">
                                            <label>
                                                <input type="radio" name="who-radio" value="self" class="who-radio">
                                                Self
                                            </label>
                                        </div>
                                        <div class="col-sm-6 py-2 ">
                                            <label>
                                                <input type="radio" name="who-radio" value="other" class="who-radio">
                                                Other person
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <hr>
                    <button type="button" id="back-btn-1" class="back-btn-1 btn btn-primary">Back</button>
                    <button type="button" id="next-btn-2" class="next-btn-2 btn btn-primary">Next</button>
                </div>
                <div id="disease-step" style="display: none;" class="row mt-5 ">

                    <h3>Select one answer in each row</h3>
                    <div class="row mb-3">
                        <div class="col-12 py-2  ">

                            <table>
                                <tr>
                                    <td><h4>I am overweight</h4></td>
                                    <td>
                                        <label>
                                            <input type="radio" name="overweight" value="Yes" class="who-radio">
                                            Yes
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="radio" name="overweight" value="No" class="who-radio">
                                            No
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="radio" name="overweight" value="don't know" class="who-radio">
                                            I don't know
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td><h4>I have been recently injured</h4></td>
                                    <td>
                                        <label>
                                            <input type="radio" name="recentlyInjured" value="Yes" class="who-radio">
                                            Yes
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="radio" name="recentlyInjured" value="No" class="who-radio">
                                            No
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="radio" name="recentlyInjured" value="don't know" class="who-radio">
                                            I don't know
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td><h4>I have high cholesterol</h4></td>
                                    <td>
                                        <label>
                                            <input type="radio" name="cholesterol" value="Yes" class="who-radio">
                                            Yes
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="radio" name="cholesterol" value="No" class="who-radio">
                                            No
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="radio" name="cholesterol" value="don't know" class="who-radio">
                                            I don't know
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td><h4>I have hypertensionl</h4></td>
                                    <td>
                                        <label>
                                            <input type="radio" name="hyperTension" value="Yes" class="who-radio">
                                            Yes
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="radio" name="hyperTension" value="No" class="who-radio">
                                            No
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="radio" name="hyperTension" value="don't know" class="who-radio">
                                            I don't know
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td><h4>I have diabetes</h4></td>
                                    <td>
                                        <label>
                                            <input type="radio" name="diabetes" value="Yes" class="who-radio">
                                            Yes
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="radio" name="diabetes" value="No" class="who-radio">
                                            No
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="radio" name="diabetes" value="don't know" class="who-radio">
                                            I don't know
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td><h4>I smoke cigarettes</h4></td>
                                    <td>
                                        <label>
                                            <input type="radio" name="cigarettes" value="Yes" class="who-radio">
                                            Yes
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="radio" name="cigarettes" value="No" class="who-radio">
                                            No
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="radio" name="cigarettes" value="don't know" class="who-radio">
                                            I don't know
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>


                    <hr>
                    <button type="button" id="back-btn-3" class="back-btn-3 btn btn-primary">Back</button>
                    <button type="button" id="next-btn-3" class="next-btn-3 btn btn-primary">Next</button>
                </div>
                <div id="symptom-step" style="display: none;" class="row mt-5 ">
                    <div>
                        <label>Symptoms:</label>
                        <div class="symptoms-container">
                            <div class="symptoms-buttons">
                                {% for symptom in symptoms %}
                                    <button class="symptom-button" data-symptom="{{ symptom }}">{{ symptom }}</button>
                                {% endfor %}
                            </div>

                            <div class="selected-symptoms"></div>
                        </div>
                    </div>
                    <hr>
                    <button type="button" id="back-btn-2" class="back-btn-2 btn btn-primary">Back</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div id="result-step" style="display: none;" class="row mt-5 ">
                    <div>
                        <div class="sidebar-block" id="test-result">
                            <h3 class="sidebar-title">Test Result</h3>
                            <h4 class="sidebar-title">patient age : 23</h4>
                            <hr>
                            <p>Patient is overweight or obese : Yes</p>
                            <p>Patient smokes cigarettes : Yes</p>
                            <p>Patient has been recently injured : Yes</p>
                            <p>Patient has high cholesterol : Yes</p>
                            <p>Patient has hypertension : Yes</p>
                            <p>Patient has diabetes : Yes</p>
                            <br><br><br>
                            <h1 class="sidebar-title">Diagnosis Report</h1>
                            <p>action :<h3>Commencer un traitement médicamenteux</h3></p>
                            <p>possibilty :<h3>70%</h3></p>
                            <p>urgency :<h3>No</h3></p>
                            <p>doctor notes :<h3>"waiting for doctors to respond ...</h3></p>



                        </div>
                    </div>
                    <hr>
                    <button type="button" id="" class="btn btn-primary">reload</button>
                    <br>
                    <br>
                    <a id="pdf-button"  ><button type="button" id="" class="btn btn-primary" >PDF</button> </a>

                </div>
            </form>
        </div> <!-- .container -->
    </div> <!-- .page-section -->



{% endblock %}
{% block fullCalendar %}
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            console.log('dom loaded');
            var calendarEl = document.getElementById('calendar-holder');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                defaultView: 'dayGridMonth',
                dayMaxEventRows: true, // for all non-TimeGrid views
                views: {
                    timeGrid: {
                        dayMaxEventRows: 3 // adjust to 6 only for timeGridWeek/timeGridDay
                    }
                },
                editable: true,
                eventSources: [
                    {
                        url: "{{ path('fc_load_events') }}",
                        method: "POST",
                        extraParams: {
                            filters: JSON.stringify({})
                        },
                        failure: () => {
                            // alert("There was an error while fetching FullCalendar!");
                        },
                    },
                ],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay',
                },
                plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                timeZone: 'UTC',

            });
            calendar.render();
        });


        // Récupérer les éléments du DOM
        const welcomeStep = document.getElementById('welcome-step');
        const patientStep = document.getElementById('patient-step');
        const diseaseStep = document.getElementById('disease-step');
        const symptomStep = document.getElementById('symptom-step');
        const resultStep = document.getElementById('result-step');
        const nextBtn1 = document.getElementById('next-btn-1');
        const nextBtn2 = document.getElementById('next-btn-2');
        const nextBtn3 = document.getElementById('next-btn-3');
        const backBtn1 = document.getElementById('back-btn-1');
        const backBtn2 = document.getElementById('back-btn-2');
        const backBtn3 = document.getElementById('back-btn-3');
        const agreeCheckbox = document.getElementById('agree-checkbox');
        const symptomCheckboxes = document.querySelectorAll('.symptom-checkbox');
        const ageRange = document.getElementById('age-range');
        const whoRadios = document.querySelectorAll('.who-radio');

        // Fonction pour afficher une étape spécifique et cacher les autres
        function showStep(step) {
            welcomeStep.style.display = 'none';
            patientStep.style.display = 'none';
            diseaseStep.style.display = 'none';
            symptomStep.style.display = 'none';
            resultStep.style.display = 'none';


            step.style.display = 'block';
        }

        // Gestionnaire d'événement pour le bouton suivant de la première étape
        nextBtn1.addEventListener('click', function(event) {
            event.preventDefault();

            // Vérifier si la case à cocher est cochée avant de passer à l'étape suivante
            if (agreeCheckbox.checked) {
                showStep(patientStep);
            } else {
                alert('Please agree to the terms and conditions to continue.');
            }
        });

        // Gestionnaire d'événement pour le bouton suivant de la deuxième étape
        nextBtn2.addEventListener('click', function(event) {
            event.preventDefault();

            let selectedWho = null;

            // Boucle pour vérifier quel bouton radio est sélectionné
            whoRadios.forEach(function(radio) {
                if (radio.checked) {
                    selectedWho = radio.value;
                }
            });

            // Vérifier si une option est sélectionnée avant de passer à l'étape suivante
            if (selectedWho) {
                showStep(diseaseStep);
            } else {
                alert('Please select an option to continue.');
            }
        });

        // Gestionnaire d'événement pour le bouton retour de la deuxième étape
        backBtn1.addEventListener('click', function(event) {
            event.preventDefault();

            showStep(welcomeStep);
        });

        // Gestionnaire d'événement pour le bouton retour de la troisième étape
        backBtn2.addEventListener('click', function(event) {
            event.preventDefault();

            showStep(diseaseStep);
        });

        // Gestionnaire d'événement pour le bouton retour 3
        backBtn3.addEventListener('click', function(event) {
            event.preventDefault();

            showStep(patientStep);
        });

        nextBtn3.addEventListener('click', function(event) {
            event.preventDefault();

            showStep(symptomStep);
        });

        // Gestionnaire d'événement pour les cases à cocher des symptômes
        /* symptomCheckboxes.forEach(function(checkbox) {
         checkbox.addEventListener('change', function(event) {
         let selectedSymptoms = [];

         // Boucle pour récupérer les symptômes sélectionnés
         symptomCheckboxes.forEach(function(checkbox) {
         if (checkbox.checked) {
         selectedSymptoms.push(checkbox.value);
         }
         });

         // Afficher le nombre de symptômes sélectionnés
         const symptomsCount = document.getElementById('symptoms-count');
         symptomsCount.textContent = selectedSymptoms.length;
         });
         });*/

        const range = document.getElementById('age-range');
        const rangeValue = document.getElementById('range-value');
        range.addEventListener('DOMContentLoaded', () => {
            rangeValue.textContent = range.value;
        });
        range.addEventListener('input', () => {
            rangeValue.textContent = range.value;
        });

        const symptomButtons = document.querySelectorAll('.symptom-button');
        const selectedSymptomsContainer = document.querySelector('.selected-symptoms');
        const symptoms = [];


        symptomButtons.forEach(button => {
            button.addEventListener('click', () => {
                event.preventDefault();
                const symptom = button.getAttribute('data-symptom');
                const selectedSymptom = document.createElement('button');
                selectedSymptom.textContent = symptom;
                selectedSymptom.classList.add('selected-symptom');
                selectedSymptom.addEventListener('click', () => {
                    selectedSymptom.remove();
                    symptoms.splice(symptoms.indexOf(symptom), 1);
                });
                const alreadySelected = [...selectedSymptomsContainer.children].some((child) => {
                    return child.textContent === symptom;
                });
                if (!alreadySelected) {
                    selectedSymptomsContainer.appendChild(selectedSymptom);
                    symptoms.push(symptom);
                }
                //  selectedSymptomsContainer.appendChild(selectedSymptom);
            });
        });

        $(document).ready(function() {
            // Attach an event listener to the form's submit button
            $('.main-form').on('submit', function(event) {
                // Prevent the default form submission
                event.preventDefault();
                const formData = $('.main-form').serializeArray();
                formData.push({name: 'age', value: $('.main-form #age-range').val()});
                formData.push({name: 'symptoms', value: symptoms});
                // console.log(formData['age']);
                //console.log(formData['age']);
                // Create an AJAX request object
                var dataObj = {};

                $(formData).each(function(i, field){
                    dataObj[field.name] = field.value;
                });
                $.ajax({
                    url: '{{ path('app_diagnostic_new') }}', // Replace with the actual route URL
                    method: 'POST', // Use the HTTP POST method
                    contentType: 'application/json', // Set the content type to JSON
                    dataType: 'json',
                    data: JSON.stringify(formData), // Serialize the form data as a JSON object
                    success: function (response, status) {
                        var html = "<h3 class='sidebar-title'>Test Result</h3>";
                        html += '<h4 class="sidebar-title">patient age :'+ dataObj["age"] +'</h4>'
                        html += '<hr>'
                        html += '<p>Patient is overweight or obese : '+ dataObj["overweight"] +'</p>'
                        html += '<p>Patient smokes cigarettes : '+ dataObj["cigarettes"] +'</p>'
                        html += '<p>Patient has been recently injured : '+ dataObj["recentlyInjured"] +'</p>'
                        html += '<p>Patient has high cholesterol : '+ dataObj["cholesterol"] +'</p>'
                        html += '<p>Patient has hypertension : '+ dataObj["hyperTension"] +'</p>'
                        html += '<p>Patient has diabetes : '+ dataObj["diabetes"] +'</p>'
                        html += '<br><br><br>'
                        html += '<h1 class="sidebar-title">Diagnosis Report</h1>'
                        html += '<p>action :<h3>'+ response.action+'</h3></p>'
                        html += '<p>possibilty :<h3>'+ response.possibility+'%</h3></p>'
                        html += '<p>urgency :<h3>'+ response.urgency+'</h3></p>'
                        html += '<p>doctor notes :<h3>'+ response.doctorNote+'</h3></p>'
                        $('#test-result').html(html);

                        const pdfButton = document.getElementById('pdf-button');

// Set the href attribute using the setResultatPdfUrl function
                        pdfButton.setAttribute('href', '../resultat/pdf/'+response.id);


                        showStep(resultStep);
                        alert('Diagnostic added successfully!');
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        alert('Error: ' + textStatus);
                    },
                });


            });
        });


    </script>
    <!-- GetButton.io widget -->
    <script type="text/javascript">
        (function () {
            var options = {
                call: "190", // Call phone number
                call_to_action: "Urgency Call", // Call to action
                button_color: "#EA2E1E", // Color of button
                position: "right", // Position may be 'right' or 'left'
            };
            var proto = 'https:', host = "getbutton.io", url = proto + '//static.' + host;
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
            s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
            var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
        })();
    </script>
    <!-- /GetButton.io widget -->
{% endblock %}


