<form method="post" action="{{ path('app_appointment_request_delete', {'id': appointment_request.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appointment_request.id) }}">
    <button class="btn">Delete</button>
</form>
